* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #DFDFDF; */
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  margin-right: 0;
  padding-right: 0;
}

.ereads {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  display: flex;
  /* margin-left: 4rem; */
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links li {
  list-style: none;
  font-family: Inter;
}

.navbar-links li a {
  display: block;
  text-decoration: none;

  color: white;
  padding: 1rem 1.5rem;
  font-family: Inter;
}

.search {
  padding-left: 2rem;
}

#search {
  border-radius: 10px;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (min-width: 701px) and (max-width: 1000px) {
  .search {
  display: none;
  }
  #ereader__img {
    display: none;
  }
  }
  
  @media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    #ereader__img {
      display: none;
    }
    .toggle-button {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
        font-family: Inter;
      
    }
  
    .navbar-links.active {
        display: flex;
    }
    .home__bottom {
      width: auto;
      display: flex;
      justify-content: flex-start;
      margin-left: 0;
      padding-left: 0;
    }
  }

.bottom__part {
  height: 100%;
  display: flex;
}

#categories {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #000000;
  background: #d9d9d9;
  font-family: Inter;
  font-weight: 500;
  padding: 1rem 3rem;
}

#categories ul {
  list-style: none;
  padding: 0;
}

h3 {
  color: #036de9;
  width: 120%;
  cursor: pointer;
  font-family: Inter;
}

section h1 {
  font-family: Inter;
  color: #036de9;
  padding-left: 35px;
  font-size: xx-large;
}

section p {
  padding-left: 35px;
  font-size: large;
  font-family: Inter;
}

#books_container {
  display: flex;
  padding-left: 2rem;
}

#img_btns {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#bksbtn {
  width: 100%;
  color: white;
  background: #036de9;
  border: 6px solid #036de9;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.3rem 0;
  font-family: Inter;
  font-size: medium;
  padding: 0;
  height: 3rem;
}

#download {
  background-color: #3a3838;
  color: white;
  width: 100%;
  height: 3rem;
  border: 6px solid #3a3838;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.3rem 0;
  font-family: Inter;
  padding: 0;
  font-size: medium;
}

#bksdescription {
  margin: 0;
  padding: 0 3em;
  font-weight: 400;
  font-size: x-large;
  font-family: Inter;
}

#reviews {
  padding-left: 4em;
  font-family: Inter;
  color: #036de9;
  /* font-weight: 400; */
  font-weight: 600;
  font-size: large;
}

.stars {
  margin-left: 5rem;
}

.readers {
  display: flex;
  flex-direction: row;
}

#reader_logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20rem;
}

.rv_container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0;
}
.rdr_review {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  padding: 1rem 0;
  width: 50%;
}
.stars_rev{
    padding-left:2rem ;
}
#str_sm{
  max-width: 100%;  
  height: auto;
  
  width: 13%;
}
h4{
    padding-left: 2rem;
}
.footer__items {
  display: flex;
  justify-content: center;
  color: #fff;
  display: flex;
  list-style: none;
 
}

.footer__items a {
  text-decoration: none;
  color: #000000;
  font-family: Inter;
}
