* {
  box-sizing: border-box;
  
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #DFDFDF; */
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: white;
  margin-right: 0;
  padding-right: 0;
}

.ereads{
  font-size: 1.5rem;
  margin: .5rem;
  
}

.navbar-links {
  display: flex;
 /* margin-left: 4rem; */
 
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navbar-links li {
  list-style: none;
  font-family: Inter;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  
  color: white;
  padding: 1rem 1.5rem;
  font-family: Inter;
}

.search{
  padding-left: 2rem;
}

#search{
  border-radius: 10px;
}


.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
      font-family: Inter;
    
  }

  .navbar-links.active {
      display: flex;
  }
  .icons{
      display: none;
  }

  .main__container{
      height: 400px;
  }
}

  .Regbody__container {

    display: flex;
    justify-content: center;
    align-items: center;
  }



  #reg__pic{
    width: 50%;
  }


  .footer__items {
    display: flex;
    justify-content: center;
    color: #fff;
    display: flex;
    list-style: none;
    /* align-items: center;
    justify-content: center;
    width: 20px;
    */
   
  }

  .footer__items a{
    text-decoration: none;
    color: #000000;
    font-family: Inter;
  }